
{% extends 'base.html' %}
{% load static %}
{% block title %}Industries{% endblock %}

{% block content %}
 
   <section class="hero-sections" style="background-image:url({% static 'assets/images/hero-section-bg.webp' %});">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="hero-content-col">
				<span>INDUSTRIES SERVICES</span>	
				<h1>Create Unique Software for <span>Business Growth</span></h1>
				<p>We are pros at building and maintaining scalable software. Robust IT solutions are the operational core of global business.</p>
				<div class="hero-buttons">
					<a href="#" class="btn button-black">Know More</a>
					<a href="#" class="btn button-purple">Contact Us</a>
				</div>
				</div>	
			</div>
			<div class="col-sm-6">

			</div>
		</div>
	</div>
</section>
<section class="clutch-upwork-logo">
<div class="container-fluid">
<ul>
<li><img src="{% static 'assets/images/clutch.jpg' %}" alt="clutch"></li>
<li><img src="{% static 'assets/images/upwork.jpg' %}" alt="upwork"></li>
</ul>
</div>
</section>

<section class="intro-video-sections">
	<div class="container">
	<div class="row">	
	<div class="col-sm-6">
		<div class="intro-video">
			<video autoplay loop preload ="auto" muted="true"><source src="{% static 'assets/images/Slider-Liquid-Blob-Ani.webm' %}" type="video/webm" playsinline></video>
			
		</div>
	</div>	
	<div class="col-sm-6">
		<div class="intro-content-col">
			<h2 class="text-uppercase"><span>We’re a dynamic team </span> of creative people</h2>
			<p>Baniwal Infotech Pvt. Ltd. helps you unlock the potential of your 
business growth with a wide range of software services. We are an offshore software outsourcing organisation, operating since 2015, in the National Capital Region (NCR) of India extending our software administrative and development services to customers across the borders in USA, Canada, Europe and Australia.</p>
<p>We aim to provide a seamless customer experience with the most innovative software services in economic pricing.</p>
	<a href="#" class="btn">Learn More</a>
		</div>
	</div>
	</div>
	</div>
</section>


<section class="director-message-sections">
	<div class="container">
	<div class="row">
	<div class="col-sm-7">
		<div class="director-message-colm">
			<h5><span>Director’s</span> Message</h5>
			<p>Baniwal Infotech Pvt. Ltd. helps you unlock the potential of your business growth with a wide range of software services. We are an offshore software outsourcing organisation, operating since 2015, in the National Capital Region (NCR) of India extending our software administrative and development services to customers across the borders in USA, Canada, Europe and Australia.</p>
			<strong>- Ajay Singh</strong>
		</div>
	</div>	
	<div class="col-sm-5">
		<div class="director-image">
			<img src="{% static 'assets/images/director-photo.jpg' %}" alt="">

		</div>
	</div>
	</div>
	</div>
</section>




<section class="weare-moresections">
	<div class="bg-style"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
			<div class="moresections-imageleft">
				<img src="{% static 'assets/images/client1.jpg' %}" class="client-pic1" alt="client" />	
				<img src="{% static 'assets/images/client3.jpg' %}" class="client-pic2" alt="client" />
				<img src="{% static 'assets/images/client2.jpg' %}" class="client-pic3" alt="client" />
				
			</div>	
			</div>


			<div class="col-sm-6">
				<div class="moresections-contentright">
				<!-- 	<h5 class="text-uppercase mb-0">We’re more</h5>
					<h2 class="mb-4 main-head fw-bold">Than <span>an agency</span></h2> -->
					<h5><span>We’re more</span> Than <color>an agency</color></h5>
					<p>We aim to provide a seamless customer experience with the most innovative software services in economic pricing.</p>

					<div class="moresections-contentbuttons mt-4">
						<a href="#" class="btn-explore">Explore now</a>
						<a href="#" class="playbtn"><i class="fa-solid fa-play"></i></a>
					</div>
				</div>
			</div>
		</div>
	
</div>
</section>

<section class="creative-solution">
	<div class="container">
			<div class="creative-solution-head">
				<h5><span>Creative Solution</span> For <color>Modern World</color></h5>
			</div>
		<!-- <h5 class="text-uppercase mb-0">Creative Solution</h5>
			<h2 class="mb-4 main-head fw-bold text-uppercase">For <span>Modern World</span></h2> -->

			<div class="row">
				<div class="col-md-10">


			<div class="row">
			<div class="col-md-4">	
			<div class="multiple-box">
				<img src="{% static 'assets/images/ui-ux.png' %}" class="icon" alt="icon" />
				<h4 class="mt-3">UX/UI Design</h4>
				<p>
					We put end-users at the heart of the process and craft UI/UX designs that strike the right balance between pleasing appeal and robust functionality.
				</p>
				<a href="#" class="learn-more">Learn More</a>
			</div>
			</div>


			<div class="col-md-4">	
			<div class="multiple-box">
				<img src="{% static 'assets/images/mobile.png' %}" class="icon" alt="icon" />
				<h4 class="mt-3">Mobile App Development</h4>
				<p>
					Our team harnesses the latest technologies and best practices in order to deliver top-notch mobile applications that reach your expectations as well as the App Store and Google Play’s top rankings.
				</p>
				<a href="#" class="learn-more">Learn More</a>
			</div>
			</div>


			<div class="col-md-4">	
				<div class="multiple-box">
					<img src="{% static 'assets/images/web-dev.png' %}" class="icon" alt="icon" />
					<h4 class="mt-3">Web development</h4>
					<p>
						We keep up with the latest advancements in the realm of web development to deliver user-friendly, feature-rich, and scalable desktop applications.
					</p>
					<a href="#" class="learn-more">Learn More</a>
				</div>
			</div>

			<div class="col-md-4">	
				<div class="multiple-box">
					<img src="{% static 'assets/images/devops.png' %}" class="icon" alt="icon" />
					<h4 class="mt-3">DevOps services</h4>
					<p>
						Pecode offers DevOps automation services to set up seamless delivery, deployment, development, security, and support processes for effective software deployment and accelerated time-to-market.
					</p>
					<a href="#" class="learn-more">Learn More</a>
				</div>
			</div>
				<div class="col-md-4">	
				<div class="multiple-box">
					<img src="{% static 'assets/images/SaaS.png' %}" class="icon" alt="icon" />
					<h4 class="mt-3">SaaS development</h4>
					<p>
						Our agency offers SaaS development that caters to diverse business needs. We cover full-cycle development and deliver ready-to-market products contributing to your competitiveness and long-term success.
					</p>
					<a href="#" class="learn-more">Learn More</a>
				</div>
			</div>

			<div class="col-md-4">	
				<div class="multiple-box">
					<img src="{% static 'assets/images/software.png' %}" class="icon" alt="icon" />
					<h4 class="mt-3">Software development</h4>
					<p>
						We incorporate the latest technology advancements and provide smart solutions in order to help businesses streamline their workflows and manage multiple processes more efficiently with high-end product management software.
					</p>
					<a href="#" class="learn-more">Learn More</a>
				</div>
			</div>
			</div>


			

</div>

		


	
	<div class="col-md-2 line-bg">
			<div class="col-md-12 mt-5">
				<div class="rating-box first-box">
					<h1 class="number" data-target="70">70+</h1>
					<p>Creative Mind’s in our organization</p>
				</div>
			</div>

				<div class="col-md-12">
				<div class="rating-box partner">
					<h1 class="number" data-target="150">150+</h1>
					<p>Clients and Partners worldwide</p>
				</div>
			</div>

				<div class="col-md-12">
				<div class="rating-box project">
					<h1 class="number" data-target="200">200+</h1>
					<p>Projects Completed In 24 Countries</p>
				</div>
			</div>
	</div>


			


			</div>


			</div>
	</div>

</section>




<section class="client-satisfaction">
	<div class="container">
		<div class="client-satisfaction-head">
			<h2>Client <span>Satisfaction</span></h2>
		</div>

		<div class="row">



		<div class="col-md-3">
				<div class="client-box client-new-box p-0">
					
					<div class="d-flex justify-content-between flex-row-reverse">
					<div class="client-first p-2">
					<h2 class="fw-bold d-flex justify-content-end fs-1">5.0</h2>
					<div class="star d-flex justify-content-end">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</div>
					</div>
					
					
					<div class="powed-img">	
					<img src="{% static 'assets/images/powed-bg.jpg' %}" class="powed" alt="icon" />
					</div>	
					</div>	
					

					<div class="powered-image">
					<p>Powered By</p>
					<!-- <h2 class="fw-bold">Clutch</h2> -->
					<img src="{% static 'assets/images/clutch-logo.png' %}" class="img-fluid">
				</div>
				</div>
			</div>







			<div class="col-md-3">
				<div class="client-box">
					<div class="d-flex justify-content-between align-items-center mb-3 rating-box">
					<h2 class="fw-bold num-color">5.0</h2>
					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</div>

					</div>


					<p>
						Baniwal Infotech delivered a 
professional website that exceeded the client's expectations. Although the client would have appreciated a 
checklist for all the work done on each page, they were still highly pleased that all of the required pages were built and changes were made without any issues.
					</p>


					<h5 class="client-box-name">CEO</h5>
					<h5 class="client-box-company">BEMI Automation</h5>

				</div>
			</div>



<div class="col-md-3">
				<div class="client-box">
					<div class="d-flex justify-content-between align-items-center mb-3 rating-box">
					<h2 class="fw-bold num-color">5.0</h2>
					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</div>

					</div>


					<p>
						Baniwal Infotech delivered a 
professional website that exceeded the client's expectations. Although the client would have appreciated a 
checklist for all the work done on each page, they were still highly pleased that all of the required pages were built and changes were made without any issues.
					</p>


					<h5 class="fw-normal mb-1">CEO</h5>
					<h5 class="fw-bold">BEMI Automation</h5>

				</div>
			</div>


			<div class="col-md-3">
				<div class="client-box">
					<div class="d-flex justify-content-between align-items-center mb-3 rating-box">
					<h2 class="fw-bold num-color">5.0</h2>
					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</div>

					</div>


					<p>
						Baniwal Infotech delivered a 
professional website that exceeded the client's expectations. Although the client would have appreciated a 
checklist for all the work done on each page, they were still highly pleased that all of the required pages were built and changes were made without any issues.
					</p>


					<h5 class="fw-normal mb-1">CEO</h5>
					<h5 class="fw-bold">BEMI Automation</h5>

				</div>
			</div>



		</div>
	</div>

</section>





<section class="innovation-section mt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="innovate-info">
					<h4 class="text-uppercase mb-0">Innovation </h4>
					<h2 class="text-uppercase">At Work</h2>
					<p>
						With every project we aim high. Pushing the boundaries of design and technology, we create unique and innovative solutions that cut through the noise. Here are some of our latest projects.
					</p>

					<div class="discover-btns d-flex mt-5">
						<button class="btn more-btn">Discover More</button>
						<button class="btn download-btn mr-2">Download Portfolio</button>
					</div>
				</div>
				
			</div>


				<div class="col-md-6">
					<div class="innovate-pic">
						<img src="{% static 'assets/images/innovate.jpg' %}" alt="innovative" />
						<div class="global-career d-flex justify-content-between">
							<h6>Global Career<br>
							Networks</h6>

							<div class="health-logo">
								<img src="{% static 'assets/images/health-logo.png' %}" class="img-fluid" alt="innovative" />
							</div>
						</div>

					</div>


				</div>












		</div>
	</div>

</section>


<section class="technology-section">
	<div class="container">
		<h2 class="main-head fw-bold text-uppercase text-center mb-5">Our Technology <span>Partnership</span></h2>

		<div class="row">
			<div class="col-md-3">
				<div class="technology-box">
					<div class="d-block py-5">
					<img src="{% static 'assets/images/adobe-logo.jpg' %}" class="img-fluid" alt="logo" />
					</div>
					<a href="#" class="read-more d-block pb-2">Read More
						<img src="{% static 'assets/images/right-errow.jpg' %}" class="img-fluid" alt="icon" />	
					</a>
				</div>
			</div>


				<div class="col-md-3">
				<div class="technology-box">
					<div class="d-block py-5">
					<img src="{% static 'assets/images/magento-logo.jpg' %}" class="img-fluid" alt="logo" />
					</div>
					<a href="#" class="read-more d-block pb-2">Read More
						<img src="{% static 'assets/images/right-errow.jpg' %}" class="img-fluid" alt="icon" />	
					</a>
				</div>
			</div>


			<div class="col-md-3">
				<div class="technology-box">
					<div class="d-block py-5">
					<img src="{% static 'assets/images/odoo-logo.jpg' %}" class="img-fluid" alt="logo" />
					</div>
					<a href="#" class="read-more d-block pb-2">Read More
						<img src="{% static 'assets/images/right-errow.jpg' %}" class="img-fluid" alt="icon" />	
					</a>
				</div>
			</div>

			<div class="col-md-3">
				<div class="technology-box">
					<div class="d-block py-5">
					<img src="{% static 'assets/images/big-logo.jpg' %}" class="img-fluid" alt="logo" />
					</div>
					<a href="#" class="read-more d-block pb-2">Read More
						<img src="{% static 'assets/images/right-errow.jpg' %}" class="img-fluid" alt="icon" />	
					</a>
				</div>
			</div>



			<div class="col-md-3">
				<div class="technology-box">
					<div class="d-block py-5">
					<img src="{% static 'assets/images/microsoft-logo.jpg' %}" class="img-fluid" alt="logo" />
					</div>
					<a href="#" class="read-more d-block pb-2">Read More
						<img src="{% static 'assets/images/right-errow.jpg' %}" class="img-fluid" alt="icon" />	
					</a>
				</div>
			</div>


			<div class="col-md-3">
				<div class="technology-box">
					<div class="d-block py-5">
					<img src="{% static 'assets/images/shopify-logo.jpg' %}" class="img-fluid" alt="logo" />
					</div>
					<a href="#" class="read-more d-block pb-2">Read More
						<img src="{% static 'assets/images/right-errow.jpg' %}" class="img-fluid" alt="icon" />	
					</a>
				</div>
			</div>


			<div class="col-md-3">
				<div class="technology-box">
					<div class="d-block py-5">
					<img src="{% static 'assets/images/saleforce-logo.jpg' %}" class="img-fluid" alt="logo" />
					</div>
					<a href="#" class="read-more d-block pb-2">Read More
						<img src="{% static 'assets/images/right-errow.jpg' %}" class="img-fluid" alt="icon" />	
					</a>
				</div>
			</div>


			<div class="col-md-3">
				<div class="technology-box">
					<div class="d-block py-5">
					<img src="{% static 'assets/images/aws-logo.jpg' %}" class="img-fluid" alt="logo" />
					</div>
					<a href="#" class="read-more d-block pb-2">Read More
						<img src="{% static 'assets/images/right-errow.jpg' %}" class="img-fluid" alt="icon" />	
					</a>
				</div>
			</div>



		</div>
	</div>
</section>


<section class="news-section">
	<div class="container">
		<h2 class="main-head fw-bold text-uppercase text-center my-5">News & <span>Articles</span></h2>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
   <img src="{% static 'assets/images/news.jpg' %}" class="img-fluid" alt="news" />
    <div class="card-body">
    	 <img src="{% static 'assets/images/news-user.jpg' %}" class="img-fluid mx-auto d-block" alt="news" />
    	 <span class="text-uppercase data">20<br> Sep</span>
      <div class="text-center admin-info">
      <h6 class="card-title text-uppercase mb-3">By Admin 2 comments</h6>
 	<h3 class="main-title text-uppercase">Five ways that can develop your business website</h3>
     </div>

    <div class="card-footer">
      <a href="#" class="news-read text-uppercase fw-medium">Read More
      	<i class="fa-solid fa-arrow-right-long"></i>
      </a>
    </div>

    </div>
    
  </div>
	</div>



	<div class="col-md-4">
				<div class="card">
   <img src="{% static 'assets/images/news.jpg' %}" class="img-fluid" alt="news" />
    <div class="card-body">
    	 <img src="{% static 'assets/images/news-user.jpg' %}" class="img-fluid mx-auto d-block" alt="news" />
    	 <span class="text-uppercase data">20<br> Sep</span>
      <div class="text-center admin-info">
      <h6 class="card-title text-uppercase mb-3">By Admin 2 comments</h6>
 	<h3 class="main-title text-uppercase">Five ways that can develop your business website</h3>
     </div>

    <div class="card-footer">
      <a href="#" class="news-read text-uppercase fw-medium">Read More
      	<i class="fa-solid fa-arrow-right-long"></i>
      </a>
    </div>

    </div>
    
  </div>
	</div>



	<div class="col-md-4">
				<div class="card">
   <img src="{% static 'assets/images/news.jpg' %}" class="img-fluid" alt="news" />
    <div class="card-body">
    	 <img src="{% static 'assets/images/news-user.jpg' %}" class="img-fluid mx-auto d-block" alt="news" />
    	 <span class="text-uppercase data">20<br> Sep</span>
      <div class="text-center admin-info">
      <h6 class="card-title text-uppercase mb-3">By Admin 2 comments</h6>
 	<h3 class="main-title text-uppercase">Five ways that can develop your business website</h3>
     </div>

    <div class="card-footer">
      <a href="#" class="news-read text-uppercase fw-medium">Read More
      	<i class="fa-solid fa-arrow-right-long"></i>
      </a>
    </div>

    </div>
    
  </div>
	</div>
	


		</div>
	</div>
</section>


<section class="facing-section text-center">
	<div class="container">
		<div class="challange-info">
			<h1 class="text-uppercase">Facing a Challenge?</h1>
			<p>We will make sure you stay ahead of the curve.</p>
			<div class="discover-btn d-flex justify-content-center mt-5">
				<button class="btn work-btn">Our Work</button>
				<button class="btn quote-btn mr-2">Get a Quote</button>
			</div>
		</div>

	</div>
</section>


{% endblock %}
