
{% extends 'base.html' %}
{% load static %}
{% block title %}Let's Talk{% endblock %}

{% block content %}
 
   


<section class="facing-section text-center">
	<div class="container">
		<div class="challange-info">
			<h1 class="text-uppercase">A Better Conversation </BR>
Make Good Project</h1>
<p>Fill the form below to discuss the web/app development project with us. Consultation with our tech experts won’t cost you a dime. Just reach us to avail a free no-obligation quote.</p>
			
			
			
		<div class="container">
        <div class="form-container">
       
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Django auto-render -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
			
		</div>

	</div>
</section>


{% endblock %}
